.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}

.body {
  font-family: "Noto serif", "Times New Roman", Times, serif;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__wrapper {
}

.header__title {
  margin: 183px 0 0 80px;
  max-width: 729px;
  z-index: 1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.accent {
  color: #2f80ed;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0 80px;
  z-index: 2;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  height: 568px;
  width: 646px;
  z-index: 0;
}

.header__footer {
  display: flex;
  margin: auto 80px 40px 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__footer_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.header__footer_list-item {
  margin: 0;
  padding: 0;
}

.header__footer_paragraph {
  margin-left: auto;
  margin-top: auto;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav__logo {
  margin: 30px 0 0 30px;
  height: 39px;
  width: 105px;
  position: relative;
}

.nav__links {
  display: flex;
  margin: 30px 80px 0 auto;
  list-style-type: none;
  padding: 0;
  column-gap: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipes__title {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 100px 0 0 80px;
}

.recipes__subtitle {
  color: #fff;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 24px 0 0 80px;
}

.recipes_videos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  column-gap: 40px;
  height: 273px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 215px;
}

.recipes_videos_iframe {
  margin: 0;
  padding: 0;
}

.recipes_videos_video-caption {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}

.recipes_videos_video-caption_text {
  margin: 0;
  padding: 0;
}

.footer {
}
